@import 'icons_seperate_css/styles/all';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
  display: flex;
  height: 100%;
  background-color: $background;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
}

svg, img {
  width: 11vw;
  height: 11vw;
}

h1, h2 {
  color: $white;
  font-family: 'Poppins', sans-serif;
}
