svg {
  shape-rendering: geometricPrecision;
}

circle,
g,
path,
rect {
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}
