// Animations: snowFall, snowFall2, fillOpacity2

@import '../variables';

.climacon.snow {
  .fill {
    fill: $climacon-default-stroke;
  }

  .stroke {
    fill: $climacon-default-fill;
  }

  .cloud {
    .fill {
      fill: $cloud-fill;
    }

    .stroke {
      fill: $cloud-stroke;
    }

    &.dark {
      .fill {
        fill: $cloud-dark-fill;
      }

      .stroke {
        fill: $cloud-dark-stroke;
      }
    }
  }

  .snow {
    fill-opacity: 0;
    animation-name: snowFall, fillOpacity2;
    animation-timing-function: ease-in-out;
    animation-duration: 6s;
    fill: $snow;

    .fill {
      fill: $snow;
    }
  }

  .snow:nth-child(3) {
    animation-name: snowFall2, fillOpacity2;
  }

  .snow:nth-child(1) {
    animation-delay: 0s;
  }

  .snow:nth-child(2) {
    animation-delay: 2s;
  }

  .snow:nth-child(3) {
    animation-delay: 4s;
  }
}
