svg {
  shape-rendering: geometricPrecision;
}

circle,
g,
path,
rect {
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}
// Animations: drizzleFall, fillOpacity2,

@import '../variables';

.climacon.sleet {
  .fill {
    fill: $climacon-default-stroke;
  }

  .stroke {
    fill: $climacon-default-fill;
  }

  .ice {
    .fill {
      fill: $ice;
    }
  }

  .cloud {
    .fill {
      fill: $cloud-fill;
    }

    .stroke {
      fill: $cloud-stroke;
    }

    &.dark {
      .fill {
        fill: $cloud-dark-fill;
      }

      .stroke {
        fill: $cloud-dark-stroke;
      }
    }
  }

  .sleet {
    animation-duration: 1s;
    animation-name: drizzleFall, fillOpacity2;
    animation-timing-function: ease-in;
    fill-opacity: 0;
  }

  .sleet:nth-child(1) {
    animation-delay: 0s;
  }

  .sleet:nth-child(2) {
    animation-delay: .6s;
  }

  .sleet:nth-child(3) {
    animation-delay: 1.2s;
  }
}
@keyframes drizzleFall {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(21px);
  }
}
@keyframes fillOpacity2 {
  0% {
    fill-opacity: 0;
    stroke-opacity: 0;
  }

  50% {
    fill-opacity: 1;
    stroke-opacity: 1;
  }

  100% {
    fill-opacity: 0;
    stroke-opacity: 0;
  }
}
