@keyframes hailLeft {
  50% {
    transform: translateY(17.5px);
  }

  51% {
    transform: translateY(17.5px) translateX(-.3px);
  }

  52% {
    transform: translateY(16.95058px) translateX(-.6px);
  }

  53% {
    transform: translateY(16.40333px) translateX(-.9px);
  }

  54% {
    transform: translateY(15.86041px) translateX(-1.2px);
  }

  55% {
    transform: translateY(15.32396px) translateX(-1.5px);
  }

  56% {
    transform: translateY(14.7961px) translateX(-1.8px);
  }

  57% {
    transform: translateY(14.27891px) translateX(-2.1px);
  }

  58% {
    transform: translateY(13.77443px) translateX(-2.4px);
  }

  59% {
    transform: translateY(13.28466px) translateX(-2.7px);
  }

  60% {
    transform: translateY(12.81152px) translateX(-3px);
  }

  61% {
    transform: translateY(12.35688px) translateX(-3.3px);
  }

  62% {
    transform: translateY(11.92254px) translateX(-3.6px);
  }

  63% {
    transform: translateY(11.51021px) translateX(-3.9px);
  }

  64% {
    transform: translateY(11.12152px) translateX(-4.2px);
  }

  65% {
    transform: translateY(10.75801px) translateX(-4.5px);
  }

  66% {
    transform: translateY(10.4211px) translateX(-4.8px);
  }

  67% {
    transform: translateY(10.11213px) translateX(-5.1px);
  }

  68% {
    transform: translateY(9.83232px) translateX(-5.4px);
  }

  69% {
    transform: translateY(9.58276px) translateX(-5.7px);
  }

  70% {
    transform: translateY(9.36446px) translateX(-6px);
  }

  71% {
    transform: translateY(9.17826px) translateX(-6.3px);
  }

  72% {
    transform: translateY(9.0249px) translateX(-6.6px);
  }

  73% {
    transform: translateY(8.90499px) translateX(-6.9px);
  }

  74% {
    transform: translateY(8.819px) translateX(-7.2px);
  }

  75% {
    transform: translateY(8.76727px) translateX(-7.5px);
  }

  76% {
    transform: translateY(8.75px) translateX(-7.8px);
  }

  77% {
    transform: translateY(8.76727px) translateX(-8.1px);
  }

  78% {
    transform: translateY(8.819px) translateX(-8.4px);
  }

  79% {
    transform: translateY(8.90499px) translateX(-8.7px);
  }

  80% {
    transform: translateY(9.0249px) translateX(-9px);
  }

  81% {
    transform: translateY(9.17826px) translateX(-9.3px);
  }

  82% {
    transform: translateY(9.36446px) translateX(-9.6px);
  }

  83% {
    transform: translateY(9.58276px) translateX(-9.9px);
  }

  84% {
    transform: translateY(9.83232px) translateX(-10.2px);
  }

  85% {
    transform: translateY(10.11213px) translateX(-10.5px);
  }

  86% {
    transform: translateY(10.4211px) translateX(-10.8px);
  }

  87% {
    transform: translateY(10.75801px) translateX(-11.1px);
  }

  88% {
    transform: translateY(11.12152px) translateX(-11.4px);
  }

  89% {
    transform: translateY(11.51021px) translateX(-11.7px);
  }

  90% {
    transform: translateY(11.92254px) translateX(-12px);
  }

  91% {
    transform: translateY(12.35688px) translateX(-12.3px);
  }

  92% {
    transform: translateY(12.81152px) translateX(-12.6px);
  }

  93% {
    transform: translateY(13.28466px) translateX(-12.9px);
  }

  94% {
    transform: translateY(13.77443px) translateX(-13.2px);
  }

  95% {
    transform: translateY(14.27891px) translateX(-13.5px);
  }

  96% {
    transform: translateY(14.7961px) translateX(-13.8px);
  }

  97% {
    transform: translateY(15.32396px) translateX(-14.1px);
  }

  98% {
    transform: translateY(15.86041px) translateX(-14.4px);
  }

  99% {
    transform: translateY(16.40333px) translateX(-14.7px);
  }

  100% {
    transform: translateY(16.95058px) translateX(-15px);
  }
}
