@keyframes hailMiddle2 {
  50% {
    transform: translateY(17.5px);
  }

  51% {
    transform: translateY(17.5px) translateX(.15px);
  }

  52% {
    transform: translateY(16.95058px) translateX(.3px);
  }

  53% {
    transform: translateY(16.40333px) translateX(.45px);
  }

  54% {
    transform: translateY(15.86041px) translateX(.6px);
  }

  55% {
    transform: translateY(15.32396px) translateX(.75px);
  }

  56% {
    transform: translateY(14.7961px) translateX(.9px);
  }

  57% {
    transform: translateY(14.27891px) translateX(1.05px);
  }

  58% {
    transform: translateY(13.77443px) translateX(1.2px);
  }

  59% {
    transform: translateY(13.28466px) translateX(1.35px);
  }

  60% {
    transform: translateY(12.81152px) translateX(1.5px);
  }

  61% {
    transform: translateY(12.35688px) translateX(1.65px);
  }

  62% {
    transform: translateY(11.92254px) translateX(1.8px);
  }

  63% {
    transform: translateY(11.51021px) translateX(1.95px);
  }

  64% {
    transform: translateY(11.12152px) translateX(2.1px);
  }

  65% {
    transform: translateY(10.75801px) translateX(2.25px);
  }

  66% {
    transform: translateY(10.4211px) translateX(2.4px);
  }

  67% {
    transform: translateY(10.11213px) translateX(2.55px);
  }

  68% {
    transform: translateY(9.83232px) translateX(2.7px);
  }

  69% {
    transform: translateY(9.58276px) translateX(2.85px);
  }

  70% {
    transform: translateY(9.36446px) translateX(3px);
  }

  71% {
    transform: translateY(9.17826px) translateX(3.15px);
  }

  72% {
    transform: translateY(9.0249px) translateX(3.3px);
  }

  73% {
    transform: translateY(8.90499px) translateX(3.45px);
  }

  74% {
    transform: translateY(8.819px) translateX(3.6px);
  }

  75% {
    transform: translateY(8.76727px) translateX(3.75px);
  }

  76% {
    transform: translateY(8.75px) translateX(3.9px);
  }

  77% {
    transform: translateY(8.76727px) translateX(4.05px);
  }

  78% {
    transform: translateY(8.819px) translateX(4.2px);
  }

  79% {
    transform: translateY(8.90499px) translateX(4.35px);
  }

  80% {
    transform: translateY(9.0249px) translateX(4.5px);
  }

  81% {
    transform: translateY(9.17826px) translateX(4.65px);
  }

  82% {
    transform: translateY(9.36446px) translateX(4.8px);
  }

  83% {
    transform: translateY(9.58276px) translateX(4.95px);
  }

  84% {
    transform: translateY(9.83232px) translateX(5.1px);
  }

  85% {
    transform: translateY(10.11213px) translateX(5.25px);
  }

  86% {
    transform: translateY(10.4211px) translateX(5.4px);
  }

  87% {
    transform: translateY(10.75801px) translateX(5.55px);
  }

  88% {
    transform: translateY(11.12152px) translateX(5.7px);
  }

  89% {
    transform: translateY(11.51021px) translateX(5.85px);
  }

  90% {
    transform: translateY(11.92254px) translateX(6px);
  }

  91% {
    transform: translateY(12.35688px) translateX(6.15px);
  }

  92% {
    transform: translateY(12.81152px) translateX(6.3px);
  }

  93% {
    transform: translateY(13.28466px) translateX(6.45px);
  }

  94% {
    transform: translateY(13.77443px) translateX(6.6px);
  }

  95% {
    transform: translateY(14.27891px) translateX(6.75px);
  }

  96% {
    transform: translateY(14.7961px) translateX(6.9px);
  }

  97% {
    transform: translateY(15.32396px) translateX(7.05px);
  }

  98% {
    transform: translateY(15.86041px) translateX(7.2px);
  }

  99% {
    transform: translateY(16.40333px) translateX(7.35px);
  }

  100% {
    transform: translateY(16.95058px) translateX(7.5px);
  }
}
