@keyframes translateFog {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateX(2.5px);
  }

  75% {
    transform: translateX(-2.5px);
  }

  100% {
    transform: translateX(0);
  }
}
